<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909517140999-lrsh7u6mjoqm7vnu82vc7otria8hqhcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909517140999-lrsh7u6mjoqm7vnu82vc7otria8hqhcp</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ0gA_QcRMJHYh7XyIPriOP6eNICnfLH0</string>
	<key>GCM_SENDER_ID</key>
	<string>909517140999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vervitudeconsultants</string>
	<key>PROJECT_ID</key>
	<string>membroz-vervitude</string>
	<key>STORAGE_BUCKET</key>
	<string>membroz-vervitude.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909517140999:ios:e705c53f05a337992366a2</string>
</dict>
</plist>